- @index = herb_counter
= f.fields_for :ingredients do |ff|
  - if herb.base == false
    = content_tag :div, class: "divTableRow", onmouseover: "showherbdesc(\"#{herb.description}\", \"#{herb.color}\")", onmouseleave: "hide()" do
      .divTableCell.herbname
        %p.herbname= CGI.unescapeHTML(herb.name).mb_chars.upcase.to_s
      .divTableCell
        = ff.hidden_field :herb_id, :value => herb.id
        = content_tag :div,"", id: "slider#{@index}"
        = ff.hidden_field :quantity, :value => 10, :id => 'quantity' + @index.to_s
  - else
    = ff.hidden_field :herb_id, :value => herb.id
    = ff.hidden_field :quantity, :value => 40
