- provide(:title, 'Zamów')
= render 'layouts/header'
.container
  .content.row
    .col-md-2#navmenu
      = render 'layouts/navmenu'
    .col-md-8.col-md-offset-1
      = render partial: 'jars', collection: @jars, as: :jar
      .row
        .col-sm-4
          = link_to '< chcesz coś jeszcze domieszać?', select_path
        .col-sm-4.col-sm-offset-3
          = link_to 'zamów >', edit_order_path(current_order)
