<%= stylesheet_link_tag "compose" %>
   
<div class="mainheader">
    <%= render :partial => "header" %>
</div>
<div class="container">
    <div id="navmenu">
        <%= render :partial => "navmenu" %>
    </div>
    <div class="content">
        <div class="herbs-img">
            <div class="herbblock"><%= link_to image_tag("/images/aa.svg", style: "border: 4px solid #fff", onerror: "this.src='/images/empty.svg'"),'' %> <br>
            Alą</div>
            <div class="herbblock"><%= link_to image_tag("/images/mp.svg", style: "border: 4px solid #fff", onerror: "this.src='/images/empty.svg'"),'' %> <br>
            Maciej</div>
        </div>
        <div id="descriptionpopup"></div>
    </div>
</div>
<div class="footer">

</div>

<%= javascript_include_tag "compose" %>