<%= stylesheet_link_tag "pot" %>
   
<div class="mainheader">
    <%= render :partial => "header" %>
</div>
<div class="container">
    <div id="navmenu">
        <%= render :partial => "navmenu" %>
    </div>
    <div id="compose">
        <div id="herbscontainer">
            <div id="herbs">
                <div id="herbe" class="brew"></div>
                <%= render partial: 'brews', collection: @baseherb.addons, as: :addon %>
                <%= content_tag :div, "", id: "herb4", class: "brew", style: "background-color: " + @baseherb.color %>
            </div>    
            <div id="pot"><div id="potperc"></div></div>
        </div>        
        <div id="sliders">
            <div class="divTable herbtab">
                <div class="divTableBody">
                    <%= render @baseherb.addons %>
                </div>
            </div>
            <%= link_to content_tag(:div, "zamów".html_safe + content_tag(:div, "", id: "ordercircle"), id: "orderbutton") %>
        </div>
    </div>
    <div id="descpopupcontainer">        
        <div id="descriptionpopup"></div>
    </div>
</div>
<div class="footer">

</div>
<%= javascript_include_tag "pot" %>
<%= javascript_include_tag "compose" %>