<%= stylesheet_link_tag "pot" %>
<%= require 'cgi' %>
   
<div class="mainheader">
    <%= render :partial => "header" %>
</div>
<div class="container">
    <div id="navmenu">
        <%= render :partial => "navmenu" %>
    </div>
    <div id="compose">
        <div id="container">
            <div id="herbs">
                <div id="herbe" class="brew"></div>
                        <%= render partial: 'brews', collection: @baseherb.addons, as: :addon %>
                        <%= content_tag :div, "", id: "herb4", class: "brew", style: "background-color: " + @baseherb.color %>
            </div>    
            <div id="pot"></div>
        </div>        
        <div id="sliders">
            <div class="divTable herbtab">
            <div class="divTableBody">
                <%= render @baseherb.addons %>
            </div>
        </div>
    </div>
</div>
<div class="footer">

</div>
<%= javascript_include_tag "pot" %>