<%= render 'layouts/header' %>
<div class="container">
    <%= render 'layouts/navmenu' %>
    <div id="compose">
        <div id="herbscontainer">
            <div id="herbs">
                <div id="herbe" class="brew"></div>
                <%= render partial: 'brews', collection: @addons, as: :addon %>
                <%= content_tag :div, "", id: "herb4", class: "brew", style: "background-color: " + @baseherb.color %>
            </div>    
            <div id="pot"><div id="potperc"></div></div>
        </div>        
        <div id="sliders">
            <div class="divTable herbtab">
                <div class="divTableBody">
                    <%= render partial: 'sliders', collection: @addons, as: :addon %>
                </div>
            </div>
            <%= link_to content_tag(:div, "zamów".html_safe + content_tag(:div, "", id: "ordercircle"), id: "orderbutton") %>
        </div>
    </div>
    <div id="descpopupcontainer">        
        <div id="descriptionpopup"></div>
    </div>
</div>
<div class="footer">

</div>
<script type="text/javascript">
    $( document ).ready( function(){

    updatesliders();
    updateheights();

    });
</script>